$colores: (
  font-color: black,
  background-principal: #383c41,
  background-transparent: rgba(245, 245, 220, 0.288),
  text-shadow: rgb(75, 74, 74) 3px 3px 10px,
  background-carousel: rgba(207, 198, 198, 0.747),
);
